<!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">
                  <li {if $actionname == 'index' && $contrname == 'Index' } class="active" {/if} >
                      <a class="" href="{:Url('admin/index/index')}">
                          <i class="icon-dashboard"></i>
                          <span>后台首页</span>
                      </a>
                  </li>
                  <!--
                  <li {if $contrname == 'Index' && (in_array($actionname,array('contentclass','contentlist','contentadd')))} class="active" {else /} class="sub-menu " {/if}>
                      <a href="javascript:;" class="">
                          <i class="icon-book"></i>
                          <span>内容管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li {if $actionname == 'contentclass' } class="active" {/if}><a href="{:Url('admin/index/contentclass')}">栏目管理</a></li>
                          <li {if $actionname == 'contentlist' || $actionname == 'contentadd' } class="active" {/if}><a class="" href="{:Url('admin/index/contentlist')}">文章管理</a></li>
                          
                      </ul>
                  </li>
                  -->

                  {if $otype == 3}
                  <li {if $contrname == 'Goods'} class="active" {else /} class="sub-menu " {/if}>
                      <a href="javascript:;" class="">
                          <i class="icon-btc"></i>
                          <span>产品管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li {if $actionname == 'prolist' || $actionname == 'proadd' } class="active" {/if}><a  href="{:Url('admin/goods/prolist')}">产品列表</a></li>
                          <li {if $actionname == 'proclass' } class="active" {/if}><a  href="{:Url('admin/goods/proclass')}">产品分类</a></li>
                          <li {if $actionname == 'risk' } class="active" {/if}><a  href="{:Url('admin/goods/risk')}">风控管理</a></li>
                          <li {if $actionname == 'huishou' } class="active" {/if}><a  href="{:Url('admin/goods/huishou')}">产品回收站</a></li>

                          
                      </ul>
                  </li>
                  {/if}
                  <li {if $contrname == 'Order'} class="active" {else /} class="sub-menu " {/if}>
                      <a href="javascript:;" class="">
                          <i class="icon-paste"></i>
                          <span>订单管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li {if $actionname == 'orderlist' } class="active" {/if}><a class="" href="{:Url('admin/order/orderlist')}">交易流水</a></li>
                          <li {if $actionname == 'orderlog' } class="active" {/if}><a class="" href="{:Url('admin/order/orderlog')}">平仓日志</a></li>
                          
                          
                      </ul>
                  </li>

                  <li {if $contrname == 'User' && ( in_array($actionname,array('userlist','useradd','userprice','userinfo','cash','myteam','chongzhi')) )} class="active" {else /} class="sub-menu " {/if}>
                      <a href="javascript:;" class="">
                          <i class="icon-user"></i>
                          <span>用户管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li {if in_array($actionname,array('userlist','useradd')) } class="active" {/if}>
                          <a class="" href="{:Url('admin/user/userlist')}">客户列表</a></li>
                          
                          <li {if in_array($actionname,array('myteam')) } class="active" {/if}>
                          <a class="" href="{:Url('admin/user/myteam')}">我的团队</a></li>

                          <li {if $actionname == 'userprice' } class="active" {/if}>
                          <a class="" href="{:Url('admin/user/userprice')}">充值列表</a></li>

                          <li {if $actionname == 'cash' } class="active" {/if}>
                          <a class="" href="{:Url('admin/user/cash')}">提现列表</a></li>
                          {if $otype == 3}
                          <li {if $actionname == 'chongzhi' } class="active" {/if}>
                          <a class="" href="{:Url('admin/user/chongzhi')}">手动充值</a></li>
                          {/if}
                          <!-- <li {if $actionname == 'userinfo' } class="active" {/if}>
                          <a class="" href="{:Url('admin/user/userinfo')}">资料审核</a></li> -->
                          
                          
                      </ul>
                  </li>
<!-- 
                  <li {if $contrname == 'User' && ( in_array($actionname,array('vipuseradd','vipuserlist','usercode')) )} class="active" {else /} class="sub-menu " {/if}>
                      <a class="" href="javascript:;">
                          <i class="icon-user-md"></i>
                          <span>代理商管理 </span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                        
                          <li {if $actionname == 'vipuseradd' } class="active" {/if}>
                          <a class="" href="{:Url('admin/user/vipuseradd')}">添加代理商</a></li>

                          <li {if in_array($actionname,array('vipuserlist','usercode'))} class="active" {/if}>
                          <a class="" href="{:Url('admin/user/vipuserlist')}">代理商列表</a></li>


                      </ul>
                  </li>
                   -->
                  
                  <li {if $contrname == 'Price'} class="active" {else /} class="sub-menu " {/if}>
                      <a href="javascript:;" class="">
                          <i class="icon-yen"></i>
                          <span>报表管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          
                          
                          <li {if $actionname == 'allot' } class="active" {/if}>
                          <a class="" href="{:Url('admin/price/allot')}">红利报表</a></li>

                          <li {if $actionname == 'yongjin' } class="active" {/if}>
                          <a class="" href="{:Url('admin/price/yongjin')}">佣金报表</a></li>

                          <li {if $actionname == 'pricelist' } class="active" {/if}>
                          <a class="" href="{:Url('admin/price/pricelist')}">资金报表</a></li>

                          <li {if $actionname == 'myprice' } class="active" {/if}>
                          <a class="" href="{:Url('admin/price/myprice')}">个人报表</a></li>
                          
                      </ul>
                  </li>
                  
                  {if $otype == 3}
                  <li {if $contrname == 'Setup' } class="active" {else /} class="sub-menu" {/if}>
                      <a href="javascript:;" class="">
                          <i class="icon-paste"></i>
                          <span>参数设置</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">

                          <li {if $contrname == 'Setup' && $actionname == 'index'} class="active" {/if} >
                            <a class="" href="{:Url('admin/Setup/index')}">基本设置</a>
                          </li>

                          <li {if $contrname == 'Setup' && $actionname == 'proportion'} class="active" {/if} >
                            <a class="" href="{:Url('admin/Setup/proportion')}">参数设置</a>
                          </li>
                          <li  {if $contrname == 'Setup' && $actionname == 'addsetup'} class="active" {/if} >
                            <a class="" href="{:Url('admin/Setup/addsetup')}">添加配置</a>
                          </li>
                          <li  {if $contrname == 'Setup' && $actionname == 'deploy'} class="active" {/if} >
                            <a class="" href="{:Url('admin/Setup/deploy')}">配置管理</a>
                          </li>
                      </ul>
                  </li>
                  

                  <li {if $contrname == 'System' } class="active" {else /} class="sub-menu" {/if}>
                      <a href="javascript:;" class="">
                          <i class="icon-cogs"></i>
                          <span>系统设置</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li {if $actionname == 'adminadd' } class="active" {/if}><a class="" href="{:Url('admin/system/adminadd')}">添加管理员</a></li>
                          <li {if $actionname == 'adminlist' } class="active" {/if}><a class="" href="{:Url('admin/system/adminlist')}">管理员列表</a></li>
                          <li {if $actionname == 'banks' } class="active" {/if}><a class="" href="{:Url('admin/system/banks')}">提现银行卡</a></li>
                          <li {if $actionname == 'recharge' || $actionname ==  'addrech' } class="active" {/if}><a class="" href="{:Url('admin/system/recharge')}">充值配置</a></li>
                          <li {if $actionname == 'setwx' } class="active" {/if}><a class="" href="{:Url('admin/system/setwx')}">微信设置</a></li>
                          <li {if $actionname == 'dbbase' } class="active" {/if}><a class="" href="{:Url('admin/system/dbbase')}">数据备份</a></li>

                      </ul>
                  </li>

                  {/if}

                  <li>
                      <a class="" href="{:Url('admin/login/logout')}">
                          <i class="icon-signout"></i>
                          <span>退出</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

